<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/style.css">
    <title>
        @!section('title')
    </title>
</head>
<body>
    <div class="container">
        <div class="wrapper">
            <div class="content">
                @!section('content')
            </div>
            <ol>
                <li><a href="/">Home</a></li>
                <li><a href="/awww">Error Page</a></li>
            </ol>
        </div>
    </div>
    <script src="./js/script.js"></script>
</body>
</html>